body {
	margin: 2;
}

{//0}

.nav 
{
	float: right;
}
.nav li{
	float: left;
	margin-right: 40px;
	list-style-type: none;
	color: white;

}
.nav a {
	text-decoration: none;
	text-transform: uppercase;
	font: italic 14px Arial;
	text-shadow: 5px 5px 20px red;
	color: black;
}
.nav li:last-child {
	margin-right: 0;
}
.nav a:hover {
	color: #d6ff00;
}
.nav {
	float: right;
}
#header {
	position: absolute;
	padding: 20px 0;
	top: 20px;
	left: 0;
	right: 0;
	width: 100%;	
}
.blok{
	width: 1200px;
	margin: 0 auto;
	height: auto;
}


{//knopka}

.btn {
	padding: 10px 28px;
	background: #198b77;
	font: italic 15px Arial;
	text-transform: uppercase;
	color: black;
	cursor: pointer;
	border: 2;
}
.btn:hover {
	background: #4ab08f;
}

{//1} 

#home {
	height: 100%;
	padding-top: 1px;
	text-align: center;
	color: white;
	background: #222  no-repeat center bottom; 
	background-size: cover;
	}
#home h4 {
	margin-bottom: 40px;
	font: bold italic 20px/10px Arial;
	color: #FFFF00;
	font: bold italic 50px/35px Arial;
	text-shadow: 2px 2px 20px red;
}
#home h3 {
	margin-bottom: 40px;
	font: 20px/10px Arial;
}
#home h1 {
	margin-bottom: 40px;
	font: bold italic 30px/10px Arial;
	text-shadow: 2px 2px 20px red;
	text-transform: uppercase;
}

{//2} 

.text_lr {
	text-align: center;
	font: bold 15px Arial;
	color: #777777;
}
.lr-item {
	width: 33.33%;
	float: left;
	padding: 100px 0px;
}
.lr-item p {
	font: 13px Arial;
	color: white;
	line-height: 24px;
	text-align: center;
}
.one {
	background: url(1.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}

.too {
	background: url(2.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.three {
	background: url(3.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.foo {
	background: url(4.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.five {
	background: url(5.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.six {
	background: url(6.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.seven {
	background: url(7.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.eight {
	background: url(8.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.nine {
	background: url(9.jpg) no-repeat ;
	background-size: 50%;
	background-position: top center;
}
.title {
	margin-top: 50px;
	margin-bottom: 12px;
	text-align: center;
	color: green;
	text-transform: uppercase;
	font: bold 20px Arial;
}

h2.title {
	margin-bottom: 12px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font: bold italic 35px Arial;
	text-shadow: 1px 1px 2px red;
}

h5.title {
	margin-bottom: 10px;
	font: italic 18px Arial;
	text-align: center;
}

#blok_end {
	background:  white; 
	width: 33.33%;
	float: left;
	padding: 0px 0px;

		
}
.title1 {
	margin-top: 50px;
	margin-bottom: 12px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font: bold 20px Arial;
	text-shadow: 1px 1px 2px #999;
	
}
.br p {
	padding-top: 10px;
	font: 50px Arial;
	color: #000080;
	line-height: 10px;
	text-align: center;
}

.br
{
opacity:0;
color: #777777;
text-shadow: 1px 1px 2px #999;
}


.blok_end:hover  .br{
opacity:0.9;
}